.mobile-button{
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
    right: 20px;
}
.hide{
    display: none;
}
@media (max-width: 1000px){
    .mobile-button{
        display: block;
    }
}
.mobile-menu{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #200153;
    min-height: 100vh;
 }
 .mobile-nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .mobile-nav-links .nav-link{
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
 }
