body{
    background-color: brown;
}
header{
    background-color: rgb(184, 184, 184);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    box-shadow: 1px 3px 9px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 1px 2px;
}
a{
    font-size: 40px;
    padding: 20px;
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(75, 75, 75);
    text-decoration: none;
}
li{
    display: inline;
}
.list1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(167, 96, 45);
    border-radius: 10px;
    box-shadow: 1px 3px 9px;
}
.list2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(167, 96, 45);
    border-radius: 10px;
    box-shadow: 1px 3px 9px;
}
.list3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(167, 96, 45);
    border-radius: 10px;
    box-shadow: 1px 3px 9px;
}
.iwevg{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}
.powejf{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}
.iohegs{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 25px;
}
.he1{
    padding-left: 20px;
    padding-top: 20px;
}
.he2{
    padding-left: 20px;
    padding-top: 20px;
}
.he3{
    padding-left: 20px;
    padding-top: 20px;
}
.skills-card{
    background-image: url(img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}

.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}
.moving-planet2{
    background: url(img/moving-planet2.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 200px;
    position: absolute;
    bottom: 70px;
    left: 0;
}

.moving-planet, .moving-planet2, .moving-cloud{
    animation-name: planet_move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
footer{
    background-color: #200153;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
    border-radius: 10px;   
    box-shadow: 1px 3px 9px black;
 }
 
 .footer-info p{
    font-family: 'Comfortaa';
    padding-bottom: 10px;
 }
 
 .footer-year p{
    font-family: 'Comfortaa';
    letter-spacing: 1.5px;
 }
 
 .footer-links a{
    margin-right: 15px;
 }
 @media (max-width: 1000px) {
.nav-links{
    display: none;
}
.logo{
    font-size: 40px;
    padding-left: 20px;
    padding-top: 10px;
}
.main-content{
    max-width: 320px; 
}
.main-title{
    padding-top: 30px;
    font-size: 30px;
}
.main-subtitle{
    font-size: 15px;
}
.planet,.moving-cloud,
.moving-planet2{
    display: none;
}
.title{
    font-size: 50px;
    padding-top: 30px;
}
.about-block{
    flex-direction: column;
    margin-top: 20px
    padding:0;
}
.about-card{
    order: -1;
    background-size: contain;
    padding-top: 20px;
    width: 326px;
    height: 296px;
}
.about-card img{
    width: 85%;
}
.about-content{
    width: 75%;
    height: 250px;
    margin-bottom: 20px;
}
.about-title{
    font-size: 18px;
}
.skills-card{
    margin: 20px;
    padding-left: 10px;
    background-size: contain;
}
.skills-card p{
    font-size: 16px;
    margin-top: 15%;
    margin-bottom: 20px;
}
.skills-section{
    min-height: 60vh;
}
.skills-card .botton{
    position: absolute;
    bottom: 100px;
}
.works-block{
    flex-direction: column;
    padding: 20px 0;
}
.works-block img{
    margin: 20px 0 ;
    width: 80%;
}
.comments-block{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto  ;
    padding-top: 50px;
}
.comment{
    background-image: 
    url()
}
.comment p{
    font-size: 15px;
    max-width: 290px;
}
  }